# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.sqlite3

# Virtual env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.swp

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/
.tox/
tests/__pycache__/

# Logs / cache
*.log
*.db
*.sqlite
.DS_Store

# Build
dist/
build/
*.egg-info/
